
<hr>
<div class="contact__container">
    <div class="icons">
        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </div>
    <div class="copyright">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam praesentium unde fugiat sit. Numquam, reprehenderit doloremque natus atque ipsam sit maiores consequatur cum, aut temporibus magni doloribus dicta perferendis, repellendus aperiam excepturi. Incidunt eveniet similique ipsa ducimus in molestias, quas ipsam est. Ut.
    </div>
</div>


