
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color0);
}
.contact-box{
    border-radius: 4px;
    background:#fff;
    display:flex;
}
.contact-left{
    flex-basis:60%;
    padding: 40px 60px;
}
.contact-right{
    border-radius: 4px;
    flex-basis: 40%;
    padding: 40px;
    color: #fff;
    background: var(--contrasting-color2);

}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
 
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: none;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: var(--contrasting-color2);
}
.contact-left h3{
    color: var(--contrasting-color2);
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-left h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}